.Header{
    text-align: center;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
}
